@import url('https://fonts.googleapis.com/css?family=Cardo|Work+Sans&display=swap');

body {
  margin: 0px;
 
}
  
hr {
  margin: 2% 0;
  border: 0;
  border-top: 1px solid #bbbbbb;
}

/*
.path {
  padding: 2%;
  display: flex;
}
.path div {
  flex: none;
  display: inline;
  padding: 1% 1% 0% 1%;
}
.push {
  margin-left: auto;
}
*/

.title {
  padding: 3% 5%;
}
.title h1{
  font-size: 2rem;
	line-height: 90%;
  margin: 20px 0;
  color: #F47862;
  font-family: 'Cardo', Garamond, 'Times New Roman', serif;
  text-align: center;
  text-transform: uppercase;
}


/* photo box */
/* to use a caption, dig in figcaption*/
.slider * {
  box-sizing: border-box;
}

.slider {
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.slides {
  display: flex;
  
  overflow-x: auto;
  scroll-snap-type: x mandatory;
   
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
/*.slides > div:target {
  transform: scale(0.8); 
} */

.author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.author-info a {
  color: white;
}
img {
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 700px;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}

/* Don't need button navigation */
@supports (scroll-snap-type) {
  .slider > a {
    display: none;
  }
}

/* text */

.pastryinfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 1% 3% 3% 3%;
}

.pastryinfo > article {
  display: inline-block;
  width: 100%;
  margin: 3%;
}

.extrainfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 2%;
}

.extrainfo > article {
  display: inline-block;
  background-color: rgb(230, 230, 230);
  width: 45%;
  height: 250px;
  margin: 1%
}

/* tablet */

@media only screen and (min-width: 600px) {
  .title h1{
    font-size: 2.5rem;
    line-height: 90%;
    margin: 40px 0;
    color: #F47862;
    font-family: 'Cardo', Garamond, 'Times New Roman', serif;
    text-align: center;
    text-transform: uppercase;
  }
  
  .slider {
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

/* desktop */
@media only screen and (min-width: 768px)  {
  
  .path {
    display: none;
  }
    
  .title h1{
    font-size: 3rem;
    line-height: 90%;
    margin: 40px 0;
    color: #F47862;
    font-family: 'Cardo', Garamond, 'Times New Roman', serif;
    text-align: center;
    text-transform: uppercase;
  }
  
  .slider {
    width: 75%;
    height: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }  

  .pastryinfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 4%;
  }
  
  .pastryinfo > article {
    display: inline-block;
    width: 31%;
    margin: 1%;
  }
}