@import url('https://fonts.googleapis.com/css?family=Cardo|Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400|Playfair+Display:400,700,400italic|Libre+Baskerville:400,700,400italic|Muli:300,400|Open+Sans:400,300,700|Oswald:400,700|Raleway:400,100,300,700|Montserrat:400,700|Merriweather:400,300,300italic,400italic,700|Bree+Serif|Vollkorn:400italic,400,700|Abril+Fatface|Cardo:400,400italic');

body {
    margin: 0;
    font-family: 'Cardo', Garamond, 'Times New Roman', serif;
}
/*new header*/
.word {
	color: #fff;
    text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    max-width: 53.33rem;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	transform: translateY(-50%);
	top:50%;
	text-align: center;
}
.header-img {
	position: relative;
	overflow: hidden;
	scroll-snap-align: center;
    text-align: center;

    display: flex;
    align-items: center;
    background: url(https://images.unsplash.com/photo-1565878025373-d29620e25e32?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80) top
        right / cover;
    padding: 5em;
	height: 20vh;
}
.char {
    font-family: 'Open Sans';
    font-size: 8vw; 
    margin-bottom: 0.25385rem;
    letter-spacing: 0.9rem;
    font-weight: 700;
}
.desc {
    font-family: 'Open Sans';
    font-size: 3vw; 
    font-weight: 100;
    margin-bottom: 0.825rem;
}

@media screen and (max-width: 600px) {
    .header-img {
    display: none;
    }
}

/* nav bar desktop */
.header-nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #904e95, #e96443);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    padding-right: 80px;
} 


.logo {
    border-radius: 50%;
    width: 110px;
    height: 110px;

}

.nav a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0 15px;
}

.nav a:hover {
    color: #faf0e6;
}

 /* Start Concept & About me CSS  */
.aboutme {
    text-align: center ;
}
.proj {
    font-family: 'Open Sans';
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    color: #3a3836;
}
.cap-let {
    font-family: 'Open Sans';
    font-size: 4.5rem;
    font-weight: bold;
    letter-spacing: -0.2rem;
}
.aboutme h1{
    font-family: 'Open Sans';
    font-size: 2.5rem;
    font-weight: bold;
    color: #e96443;
    letter-spacing: -0.2rem;
}

.aboutme h2{
    margin: 8%;
    font-size: 2rem;
}

.aboutme h3{
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.text-concept{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 55px;
}

.aboutme img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
}
@media screen and (max-width: 600px) {
    .aboutme img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
        border-radius: 20px;
        -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    }
}
/* End concept & about me */


/*  START FOOTER  */
footer {
    background: #e96443;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #904e95, #e96443);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #904e95, #e96443);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 200px;
    bottom: 0;
    width: 100%;
    -webkit-box-shadow: 0px -10px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px -10px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px -10px 10px 0px rgba(0, 0, 0, 0.4);
}

footer a {
    text-decoration: none;
}

.footer-desktop {
    color: white;
    font-size: 15px;
}

.follow {
    color: white;
    font-size: 20px;
}

.title-footer {
    font-size: 20px;
}

a.footer-link {
    color: white;
}

a.footer-link:hover {
    color: #faf0e6;
}

.a-follow {
    margin: 5px;
}

/* END FOOTER */
@media screen and (min-width: 601px) {
    .a-follow:hover {
        opacity: 0.8;
    }

    footer {
        display: flex;
        justify-content: space-around;
    }

    .footer-link {
        display: flex;
        flex-direction: column;
    }

    h6.follow {
        margin-top: 25px;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    h4.title-footer {
        margin-top: 23px;
        margin-bottom: 22px;
    }

    h5.title-footer {
        margin-top: 24px;
        margin-bottom: 25px;
    }

    .a-follow:hover {
        opacity: 0.8;
    }

    footer {
        display: flex;
        flex-direction: row;
    }

    div.navbar {
        display: none;
    }

    .header-nav {
        height: 80px;
    }

    footer {
        height: 100px;
        padding-bottom: 40px;
    }

    .logo {
        width: 70px;
        height: 70px;
    }
}

@media screen and (max-width: 600px) {
    .bloc {
        width: 70%;
    }

    .header-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;
    }

    img.logo {
        border-radius: 50%;
        width: 70px;
        height: 70px;
    }

    .nav {
        display: none;
    }

    /* no side bar on mobile */
    .sidenav {
        display: none;
    }

    .footer-desktop {
        display: none;
    }

    /* Place the navbar at the bottom of the page, and make it stick */
    .navbar {
        display: flex;
        justify-content: space-around;
        background: #e96443;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #904e95, #e96443);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #904e95, #e96443);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1;
        border-top: white solid 0.4px;
    }

    /* Style the links inside the navigation bar */
    .navbar a {
        float: left;
        display: block;
        color: #544c44;
        text-align: center;
        padding: 14px 8px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Change the color of links on hover */
    .navbar a:hover {
        color: white
    }

    /* Add a color to the active/current link */
    .navbar a.active {
        color: white;
        border-radius: 5px;
        width: 40px;
    }

    /* End NAVBAR */
    /* START FOOTER MEDIA QUERIES*/
    .div-follow {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div-follow {
        padding-bottom: 20px;
    }

    .img-social {
        width: 40px;
        height: 40px;
        margin: 15px 5px;
    }

    .div-follow {
        padding-bottom: 20px;
    }

    h6.follow {
        display: none;
    }

    footer {
        height: 120px;
    }

    .header-nav {
        height: 100px;
    }

    .logo {
        width: 50px;
        height: 50px;
        margin-bottom: 25px;
    }

    /* END FOOTER MEDIA QUERIES*/
}
