*
{
    margin: 0;
}

body
{
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #e96443;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #904e95, #e96443);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #904e95, #e96443);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 150px;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    padding-right: 80px;
}

.logo {
    border-radius: 50%;
    width: 110px;
    height: 110px;

}

.nav a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0 15px;
}

.nav a:hover {
    color: #faf0e6;
}

.background
{
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container
{
    background-color: white;
    display: flex;
    justify-content: center;
    height: 70%;
    width: 60%;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 30px 10px #C5B9EC;
-moz-box-shadow: 0px 0px 30px 10px #C5B9EC;
box-shadow: 0px 0px 30px 10px #C5B9EC;
}

/* .title
{
    text-align: center;
    margin: 20px 0;
} */

.form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}

.form div
{
    margin: 30px 0;
}

.inside_form
{
    width: 100%;
}

.inside_form label
{
    padding-right: 5px;
}

.select
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    padding: .5em 2em .5em .4em;
    cursor: pointer;
    color: rgb(70, 81, 88);
    font-family: inherit;
    font-size: 0.8em;
    border: 1px solid rgb(207, 210, 219);
    border-radius: .2em;
    background-color: rgb(250, 250, 250);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjAwJyBoZWlnaHQ9JzIwMCcgZmlsbD0iIzAwMDAwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHg9IjBweCIgeT0iMHB4Ij48cGF0aCBmaWxsPSIjMDAwMDAwIiBkPSJNMTIgMThsLTExLjAxOS0xMWgyMi4wMzh6Ii8+PC9zdmc+);
    background-size: .8em;
    background-repeat: no-repeat;
    background-position: calc(100% - .4em) center;
    width: 87%;
}

.select2
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    padding: .5em 2em .5em .4em;
    cursor: pointer;
    color: rgb(70, 81, 88);
    font-family: inherit;
    font-size: 0.8em;
    border: 1px solid rgb(207, 210, 219);
    border-radius: .2em;
    background-color: rgb(250, 250, 250);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjAwJyBoZWlnaHQ9JzIwMCcgZmlsbD0iIzAwMDAwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHg9IjBweCIgeT0iMHB4Ij48cGF0aCBmaWxsPSIjMDAwMDAwIiBkPSJNMTIgMThsLTExLjAxOS0xMWgyMi4wMzh6Ii8+PC9zdmc+);
    background-size: .8em;
    background-repeat: no-repeat;
    background-position: calc(100% - .4em) center;
    width: 85%;
}

.size_email
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    padding: .4em 4em .4em .4em;
    color: rgb(70, 81, 88);
    font-family: inherit;
    font-size: 0.8em;
    border: 1px solid rgb(207, 210, 219);
    border-radius: .2em;
    background-color: rgb(250, 250, 250);
    background-size: .8em;
    background-repeat: no-repeat;
    background-position: calc(100% - .4em) center;
    width: 80%;
}

.size_name
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    padding: .4em 4em .4em .4em;
    color: rgb(70, 81, 88);
    font-family: inherit;
    font-size: 0.8em;
    border: 1px solid rgb(207, 210, 219);
    border-radius: .2em;
    background-color: rgb(250, 250, 250);
    background-size: .8em;
    background-repeat: no-repeat;
    background-position: calc(100% - .4em) center;
    width: 80.5%;
}


.textinput
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    padding: .4em 4em .4em .4em;
    color: rgb(70, 81, 88);
    font-family: inherit;
    font-size: 0.8em;
    border: 1px solid rgb(207, 210, 219);
    border-radius: .2em;
    background-color: rgb(250, 250, 250);
    background-size: .8em;
    background-repeat: no-repeat;
    background-position: calc(100% - .4em) center;
    width: 85%;
    height: 100px;
}

.button_color
{
    background-color: #C5B9EC;
    border-radius: 1.2em;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
}


/*  START FOOTER  */
footer {
    background: #e96443;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #904e95, #e96443);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #904e95, #e96443);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: auto;
    bottom: 0;
    width: 100%;
    -webkit-box-shadow: 0px -10px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px -10px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px -10px 10px 0px rgba(0, 0, 0, 0.4);
}

footer a {
    text-decoration: none;
}

.footer-desktop {
    color: white;
    font-size: 15px;
}

.follow {
    color: white;
    font-size: 20px;
}

.title-footer {
    font-size: 20px;
}

a.footer-link {
    color: white;
}

a.footer-link:hover {
    color: #faf0e6;
}

.a-follow {
    margin: 5px;
}

@media screen and (min-width: 501px){
    .container
    {
        width: 90%;
        height: 80%;
    }  
    
    header {
        height: 80px;
    }

    .logo {
        width: 70px;
        height: 70px;
    }

    .a-follow:hover {
        opacity: 0.8;
    }

    footer {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        height: 100px;
        padding-bottom: 40px;
    }

    .footer-link {
        display: flex;
        flex-direction: column;
    }

    h6.follow {
        margin-top: 25px;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    h4.title-footer {
        margin-top: 23px;
        margin-bottom: 22px;
    }

    h5.title-footer {
        margin-top: 24px;
        margin-bottom: 25px;
    }

    div.navbar{
        display: none;
    }


}

@media screen and (max-width: 500px) {
    .container
    {
        width: 90%;
        height: 80%;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;
    }

    .logo {
        width: 50px;
        height: 50px;
        margin-bottom: 25px;
    }

    img.logo {
        border-radius: 50%;
        width: 70px;
        height: 70px;
    }

    .nav {
        display: none;
    }

    .footer-desktop {
        display: none;
    }

    .div-follow {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin: 0;
    }

    .div-follow {
        padding-bottom: 20px;
    }

    .img-social {
        width: 40px;
        height: 40px;
        margin: 15px 5px;
    }

    .div-follow {
        padding-bottom: 20px;
    }

    h6.follow {
        display: none;
    }

    footer {
        height: 120px;
    }

    .logo {
        width: 50px;
        height: 50px;
        margin-bottom: 25px;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
        background: #E96443;
        background: -webkit-linear-gradient(to right, #904E95, #E96443);
        background: linear-gradient(to right, #904E95, #E96443);
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1;
        border-top: white solid 0.4px;
    }
    .navbar a {
        float: left;
        display: block;
        color: #544C44;
        text-align: center;
        padding: 14px 8px;
        text-decoration: none;
        font-size: 17px;
    }
    .navbar a:hover {
        color: white
    }
    .navbar a.active {
        color: white;
        border-radius: 5px;
        width: 40px;
    }
}
