body {
    margin: 0;
}

header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #EECDA3;  
    background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  
    background: linear-gradient(to right, #EF629F, #EECDA3); 
    height: 150px;
}

.logo
{
    border-radius: 50%;
    width: 110px;
    height: 110px;
   
}

.nav a
{
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0 15px;
}

/* Side-bar */
.sidenav {
    width: 130px;/* Set the width of the sidebar */
    position: fixed;/* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;/* Stay on top */
    top: 200px;/* Stay on top */
    left: 10px;
    background: white;/* White */
    overflow-x: hidden;/* Disable horizontal scroll */
    padding: 8px 0;
    border: ridge;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
  }
  
  .sidenav a:hover {
    color: grey;
  }
  
  .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
/* End Side-bar */

footer {
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #ef629f 15%, #eecda3 81%);    
    height: 200px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer a {
    text-decoration: none;
}
.footer-desktop {
    color: white;
    font-size: 20px;
}
.follow { 
    color: white;
    font-size: 30px;
}  
.title-footer {
    font-size: 30px;
}
a.footer-link {
    color: white;
}
a.footer-link:hover {
    color: #faf0e6;
}
.a-follow {
    margin: 5px;
}
@media screen and (min-width: 501px) {
    .a-follow:hover {
    opacity: 0.8;
    }
    footer {
        display: flex;
        justify-content: space-around;
    }   
   .footer-link {
    display: flex;
    flex-direction: column;
   }
   h6.follow {
       margin-top: 23px;
       margin-bottom: 10px;
       margin-left: 10px;
   }
   h4.title-footer {
       margin-top: 21px;
       margin-bottom: 22px;
   }
   h5.title-footer {
       margin-top: 22px;
       margin-bottom: 25px;
   }
   .a-follow:hover {
    opacity: 0.8;
    }
    footer {
    display: flex;
    flex-direction: row;
    }
    
    div.navbar{
    display: none;
    }
}
@media screen and (max-width: 500px) {
    
    header
    {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EECDA3;  
    background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  
    background: linear-gradient(to right, #EF629F, #EECDA3); 
    }

    .logo
    {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    }

    .nav
    {
    display: none;
    }

/* no side bar on mobile */
.sidenav {
    display: none;
}
.footer-desktop {
    display: none;
}
/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
display: flex;
justify-content: space-around;
background-color: #eecda3;
overflow: hidden;
position: fixed;
bottom: 0;
width: 100%;
z-index: 1;
border-top: white solid 0.4px;
}

/* Style the links inside the navigation bar */
.navbar a {
float: left;
display: block;
color: #544c44;
text-align: center;
padding: 14px 8px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
background-color: #EECDA3;
color: white
}

/* Add a color to the active/current link */
.navbar a.active {
color: white;
border-radius: 5px;
width: 40px;
}
}
/* End NAVBAR */

.div-follow {
display: flex;
justify-content: center;
align-items: center;
}
.follow {   
color: white;
font-size: 30px;
display: flex;
justify-content: center;
padding-top: 30px;
}
.div-follow {
padding-bottom: 20px;
}
.a-follow {
margin: 5px;
}
   /* End Mobile Styles */
   .div-follow {
    display: flex;
    justify-content: center;
    align-items: center;
}
   .follow {
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.div-follow {
    padding-bottom: 20px;
}
h6.follow {
    margin-bottom: 10px;
    margin-top: 0;
}

