*
{
    margin: 0;
}

body
{
    background: #e96443;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 130vh;
}

.container1
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.bloc
{
    width: 30%;
    height: 40%;
    margin: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  
.bloc:hover {
    -webkit-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.75);
  }
  
.cards {
    border-radius: 20px 20px 0 0;
    max-width : 100%;
    display: block;
    height: auto;
  }

figcaption
{
    color: white;
    height: auto;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    font-size: 1.4em;
}







